<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>45800E63-F0D1-4727-B5EF-AFC7293F864E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
