<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>143AD760-3ED5-4471-B105-A28000F49672</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yodhiriq-hb</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
