<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>48946787-CFEA-4A94-92B4-512A2DB08E99</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
