<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7784AD34-31A9-4CF7-8E7E-85868657B49B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
